body{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(34, 34, 34);
}

.console{
    border: 1px solid rgb(218, 218, 218);
    padding: 3px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.7em;
}

.ping {
    font-size: 0.6em;
    background-color: chartreuse;
    color: black;
    padding: 6px;
    margin-top: 10px;
    display: inline-flex;
    border-radius: 4px;
}
.speed {
    font-size: 0.6em;
    background-color: rgb(247, 189, 0);
    color: black;
    padding: 6px;
    margin-top: 10px;
    display: inline-flex;
    border-radius: 4px;
}
.refreshRate {
    font-size: 0.6em;
    background-color: rgb(121, 75, 165);
    color: white;
    padding: 6px;
    margin-top: 10px;
    display: inline-flex;
    border-radius: 4px;
}

.socketConfigArea {
    padding: 20px;
    border: 2px solid white;
    display: flow;
}
#pressedKey{
    font-family: 'Courier New', Courier, monospace;
}

#manualThrottle{
    display: inline-block;
    width: 280px;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #04AA6D;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #04AA6D;
    cursor: pointer;
  }